{% extends 'choose_stock/base.html' %}
{% load static %}

{% block main %}
    <h2 class="text-center">中线潜力股票</h2>
    <h4>{{ trade_day | date:'m月d日' }}推荐(每日16:00后更新)</h4>
    <hr>
    {% if stocks %}
        {% for stock in stocks %}
            {{ forloop.counter }}
            <h4 class="text-center" style="margin-bottom: 0;margin-top: 0">
                <a href="{% url 'stock_detail' stock_id=stock.stock_id %}" target="_blank">
                    {{ stock.name }}({{ stock.stock_id }})
                </a>K线图
            </h4>
            <div id="{{ stock.stock_id }}" style="width: 100%;height: 400px;margin-bottom: 40px"></div>
            <hr>


            <script type="text/javascript">
                var myChart = echarts.init(document.getElementById('{{ stock.stock_id }}'));
                {#  {{ stock.stock_id }}必须在引号中 #}
                var data0 = splitData({{ stock.data | safe }});
                var option = {
                    {#                title: {#}
                    {#                    text: '{{ stock.name }}({{ stock.stock_id }})日K线图',#}
                    {#                    x: 'center', {# 调节居中距离 #}
                    {#                    y: '0%'  {# 调节上下距离 #}
                    {#                },#}
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'line'
                        },
                        formatter: function (params) {
                            if (params[0].seriesType == 'candlestick') {
                                var params = params[0];
                                return params.name + '<br>' +
                                        '开盘:' + params.value[0] + '<br>' +
                                        '收盘:' + params.value[1] + '<br>' +
                                        '最低:' + params.value[2] + '<br>' +
                                        '最高:' + params.value[3] + '<br>' +
                                        '涨跌:' + params.value[4]
                            } else {
                                var par;
                                if (params[1].value != '-') {
                                    par = params[1];
                                }
                                else {
                                    par = params[0];
                                }
                                return par.name + '<br>' +
                                        '成交量:' + par.value + '股'
                            }
                        }
                    },
                    grid: [{# 在同一坐标系内绘制多图 #}
                        {
                            {#                        left: '10%',#}
                            {#                        right: '8%',#}
                            height: '50%'
                        },
                        {
                            {#                        left: '10%',#}
                            {#                        right: '8%',#}
                            top: '72%', {# 距离顶部的高度 #}
                            height: '16%'
                        }
                    ],
                    xAxis: [
                        {
                            type: 'category',
                            data: data0.categoryData,
                            boundaryGap: false,
                            axisLine: {
                                onZero: false
                            },
                            min: 'dataMin',
                            max: 'dataMax'
                        },
                        {
                            type: 'category',
                            data: data0.categoryData,
                            gridIndex: 1,
                            boundaryGap: false,
                            axisLine: {
                                onZero: false
                            },
                            axisTick: {show: false},
                            axisLabel: {show: false},
                            min: 'dataMin',
                            max: 'dataMax'
                        }
                    ],
                    yAxis: [
                        {
                            scale: true, {# 设置为true,坐标轴不用包含0刻度,更好展示细节 #}
                            splitArea: {
                                show: true
                            },
                            min: 'dataMin',
                            max: 'dataMax'
                        },
                        {
                            scale: true,
                            gridIndex: 1,
                            axisTick: {show: false},
                            axisLine: {show: false},
                            axisLabel: {show: false},
                            splitLine: {show: false}  {# 是否限制网格线,类似matlab的grid on/off #}
                        }
                    ],
                    dataZoom: [{
                        type: 'slider',
                        start: 0, {# 从0开始,显示整体布局 #}
                        xAxisIndex: [0, 1]  {# 实现同时控制两个图的x坐标轴 #}
                    }],
                    series: [
                        {
                            name: '日K线图',
                            type: 'candlestick',
                            data: data0.values,
                            xAxisIndex: 0,
                            yAxisIndex: 0,
                            itemStyle: {
                                normal: {
                                    color0: 'green',
                                    borderColor0: 'green'
                                }
                            },
                            markPoint: {
                                label: {
                                    normal: {
                                        formatter: function (param) {
                                            return param != null ? Math.round(param.value) : '';
                                        }
                                    }
                                },
                                data: [
                                    {#                                {#}
                                    {#                                    name: 'XX标点',#}
                                    {#                                    coord: ['2013/5/31', 2300],#}
                                    {#                                    value: 2300,#}
                                    {#                                    itemStyle: {#}
                                    {#                                        normal: {color: 'rgb(41,60,85)'}#}
                                    {#                                    }#}
                                    {#                                },#}
                                    {
                                        name: '最大值',
                                        type: 'max',
                                        valueDim: 'highest'
                                    },
                                    {
                                        name: '最小值',
                                        type: 'min',
                                        valueDim: 'lowest'
                                    },
                                    {
                                        name: '平均值',
                                        type: 'average',
                                        valueDim: 'close'
                                    }
                                ],
                                tooltip: {
                                    formatter: function (param) {
                                        return param.name + '<br>' + (param.data.coord || '');
                                    }
                                }
                            },
                            markLine: {
                                symbol: ['none', 'none'],
                                data: [
                                    [
                                        {
                                            name: 'from lowest to highest',
                                            type: 'min',
                                            valueDim: 'lowest',
                                            symbol: 'circle',
                                            symbolSize: 10,
                                            label: {
                                                normal: {show: false},
                                                emphasis: {show: false}
                                            }
                                        },
                                        {
                                            type: 'max',
                                            valueDim: 'highest',
                                            symbol: 'circle',
                                            symbolSize: 10,
                                            label: {
                                                normal: {show: false},
                                                emphasis: {show: false}
                                            }
                                        }
                                    ],
                                    {
                                        name: 'min line on close',
                                        type: 'min',
                                        valueDim: 'close'
                                    },
                                    {
                                        name: 'max line on close',
                                        type: 'max',
                                        valueDim: 'close'
                                    }
                                ]
                            }
                        },
                        {
                            name: '成交量_涨',
                            type: 'bar',
                            stack: '成交量',
                            xAxisIndex: 1,
                            yAxisIndex: 1,
                            data: {{ stock.volumn_rise | safe }},
                            itemStyle: {
                                normal: {
                                    color: 'red'
                                    {#                                color: function(params){  // 颜色靠收盘数据与开盘数据的比较得出,不靠涨跌数据#}
                                    {#                                    var index = params.dataIndex;  // 获取数据索引#}
                                    {#                                    var price_close = data0.values[index][1];  // 获取股票收盘数据#}
                                    {#                                    var price_open = data0.values[index][0];#}
                                    {#                                    if(price_close > price_open){#}
                                    {#                                        return 'red';#}
                                    {#                                    }else {#}
                                    {#                                        return 'green';#}
                                    {#                                    }#}
                                    {##}
                                    {#                                }#}
                                }
                            }
                        },
                        {
                            name: '成交量_跌',
                            type: 'bar',
                            stack: '成交量',
                            xAxisIndex: 1,
                            yAxisIndex: 1,
                            data: {{ stock.volumn_fall | safe }},
                            itemStyle: {
                                normal: {
                                    color: 'green'
                                }
                            }

                        }
                    ]
                };
                myChart.setOption(option);


                function splitData(rawData) {
                    var categoryData = [];
                    var values = [];
                    for (var i = 0; i < rawData.length; i++) {
                        categoryData.push(rawData[i].splice(0, 1)[0]);
                        values.push(rawData[i]);
                    }
                    return {
                        categoryData: categoryData,
                        values: values
                    }
                }
            </script>
        {% endfor %}

    {% elif time_blank %}
        {{ time_blank }}
    {% else %}
        <p class="text-center text-success">今日无股票推荐</p>
        <hr>
    {% endif %}


    {# 多说评论框 #}
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="4" data-title="中线布局" data-url="{% url 'k_middle' %}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name: "dhxuangu"};
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
{% endblock %}