{% extends 'choose_stock/base.html' %}
{% load static %}

{% block main %}
    <div class="text-center">
        <form class="form-inline" role="form" method="post" action="{% url 'search' %}"
              style="margin-top: 28%">
            {% csrf_token %}

            <input type="text" class="form-control" placeholder="请输入股票代码或股票名称"
                   style="width: 50%;margin: 0px auto" name="id_name"> {# "name"对应views中的request.POST['id_name'] #}
            <input type="submit" class="btn btn-primary" value="搜索">

        </form>
        {% if info %}
            <p style="color: red">{{ info }}</p>
        {% endif %}
    </div>


{% endblock %}
